<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head (pageTitle=${#strings.concat('Dialogs :: ', user.steamNickname)})">
    <!--HEAD (links, meta, etc.)-->
</head>

<body id="top">

<section class="hero">

    <section class="navigation">
        <header th:include="fragments/header :: header"></header>
    </section>

    <div class="container">

        <div class="chatbox">

            <h3 id="title">Choose dialog ...</h3>

            <div class="chat_inner">

                <div id="message_place">

                    <!--messages-->
                </div>

            </div>

            <div class="form">
                <form autocomplete="off" th:autocomplete="off" id="message_form" action="#" accept-charset="utf-8">
                    <input value="" type="text" id="message_text" name="message"
                           placeholder="Type message and press enter..."/>
                </form>
            </div>

        </div>

        <div class="chatusers">

            <h3>Active chats</h3>

            <div class="chat_users_inner">

                <div id="danya" class="roundcorner">
                    <img src="https://pp.vk.me/c625128/v625128786/4ba8c/MKGCesHjKDE.jpg" alt="Фотография 1"/>
                    <span> <a href="#">Danya</a></span>
                </div>

            </div>
        </div>

    </div>

</section>

<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>

<footer th:include="fragments/footer :: footer">
    <!--footer-->
</footer>

<script th:src="@{js/vendor/jquery-1.11.2.min.js}"></script>
<script th:src="@{bower_components/retina.js/dist/retina.js}"></script>
<script th:src="@{js/jquery.fancybox.pack.js}"></script>
<script th:src="@{js/vendor/bootstrap.min.js}"></script>
<script th:src="@{js/scripts.js}"></script>
<script th:src="@{js/jquery.flexslider-min.js}"></script>
<script th:src="@{bower_components/classie/classie.js}"></script>
<script th:src="@{bower_components/jquery-waypoints/lib/jquery.waypoints.min.js}"></script>

<script>
    'use strict';

    $(document).ready(() => {

        var b = false;

        $('#message_text').focus();

        //on message sending
        $('#message_form').submit((e) => {
            e.preventDefault();

            var empty = $('#no_messages');

            if (empty) {
                empty.text('');
            }

            const message = $('#message_form').find('#message_text');

            const out = `<div style="font-size: 12pt;" class='chat_out clearfix'>
                            <span class='message'>${message.val()}</span>
                            <span class='author'>Me</span>
                        </div>`;

            message.val(''); //clear input

            $('#message_place').append(out);

        });

        $('#danya').click(() => {

            if (!b) {
                setTimeout(() => {

                    $('#title').text('Dialog with Danya');
                    const empty = `<div id="no_messages" style="font-size: 12pt; text-align: center" class='clearfix'>
                               <span class='message'>There is no messages yet...</span>
                           </div>`;

                    $('#message_place').append(empty);

                    b = true;

                }, 1000);
            }

        })

    })
</script>

</body>
</html>