<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head (pageTitle=${#strings.concat('Dialogs :: ', user.steamNickname)})">
    <!--HEAD (links, meta, etc.)-->
</head>

<body id="top">

<section class="hero">

    <section class="navigation">
        <header th:include="fragments/header :: header"></header>
    </section>

    <div class="container">

        <div class="chatbox">

            <h3>Choose dialog ...</h3>

            <div class="chat_inner">

                <div th:if="${lastChat != null}">

                    <div class="chat_in clearfix">
                        <span class="message" th:inline="text">This is a [[${user.fullName}]]</span>
                        <span class="author">By somebody to you at 13:30</span>
                    </div>

                    <div class="chat_out clearfix">
                        <span class="message">Some message...</span>
                        <span class="author">By me at 13:31</span>
                    </div>
                </div>


            </div>

            <div th:if="${lastChat != null}" class="form">
                <form id="message_form" action="#" accept-charset="utf-8">
                    <input type="text" id="message_text" name="message" placeholder="Type message and press enter..."/>
                </form>
            </div>

        </div>

        <div class="chatusers">

            <h3>Active chats</h3>

            <div class="chat_users_inner">

                <!--TODO active chats sorted by updated at-->
                <div data-chat-id="1" class="roundcorner">
                    <img src="/img/130.jpg" alt="Фотография 1"/>
                    <!--TODO handle reload page-->
                    <span> <a href="#">Somebody</a></span>
                </div>

                <div data-chat-id="2" class="roundcorner">
                    <img src="/img/130.jpg" alt="Фотография 1"/>
                    <!--TODO handle reload page-->
                    <span> <a href="#">Somebody New</a></span>
                </div>

            </div>
        </div>

    </div>

</section>

<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>

<footer th:include="fragments/footer :: footer">
    <!--footer-->
</footer>

<script th:src="@{js/vendor/jquery-1.11.2.min.js}"></script>
<script th:src="@{bower_components/retina.js/dist/retina.js}"></script>
<script th:src="@{js/jquery.fancybox.pack.js}"></script>
<script th:src="@{js/vendor/bootstrap.min.js}"></script>
<script th:src="@{js/scripts.js}"></script>
<script th:src="@{js/jquery.flexslider-min.js}"></script>
<script th:src="@{bower_components/classie/classie.js}"></script>
<script th:src="@{bower_components/jquery-waypoints/lib/jquery.waypoints.min.js}"></script>


<script>
    $(document).ready(() => {

        //fetch messages, update chats
        setInterval(() => {
            console.log('fetching...');
        }, 2000); //2 seconds

        //on message sending
        $('#message_form').submit((e) => {
            e.preventDefault();
            const message = $('#message_form').find('#message_text');
            console.log(message.val());
        });

        //on change dialog, load messages
        $('[data-chat-id]').click((e) => {
            e.preventDefault();
            console.log(e);
        });
    })
</script>

</body>
</html>