<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head (pageTitle='Group :: profile')">
    <!--HEAD (links, meta, etc.)-->
</head>

<body id="top">

<section class="navigation">
    <header th:include="fragments/header :: header" >
    </header>
</section>

<div class="container">
    <div class="group_profile_container">
        <div class="group_profile__inner">
            <h3 th:text="${group.name}"></h3>
            <div class="group_profile">
                <img src="img/piq_278240_400x400.png" alt="Фотография 1"/>
                <span th:text="${group.game}"></span>
                <span th:text="${group.description}"></span>
                <div th:if="${isAdmin eq false}">
                    <!--This user has been subscribed already?-->
                    <!--No-->
                    <div th:if="${subscribed eq false}">
                        <a th:href="@{/group/{groupId}/subscribe(groupId=${group.id})}">
                            <button type="submit">Subscribe</button>
                        </a>
                    </div>
                    <!--Yes-->
                    <div th:if="${subscribed eq true}">
                        <a th:href="@{/group/{groupId}/unsubscribe(groupId=${group.id})}">
                            <button type="submit">Unsubscribe</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="group_profile_frends">
                <h3 th:text="${group.getParticipantList().size()}"></h3>
                <div th:each="subscriber: ${subscribers}">
                    <div class="roundcorner">
                        <img src="#" th:src="${subscriber.avatarUrl}"/>
                        <a th:href="@{/user/{userId}(userId=${subscriber.id})}" th:text="${subscriber.fullName}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="group_profile_container2">
    <div class="search_form">
        <div th:if="${isAdmin eq true}">
            <form th:action="@{/group/{groupId}/new_post(groupId=${group.id})}" th:object="${post}" method="post">
                <input type="text" th:field="*{body}" placeholder="Type post and press enter..."/>
            </form>
        </div>
    </div>
    <div class="group_profile_posts">
        <div th:each="post : ${posts}">
            <div class="group_profile_posts_e">
                <h3 th:text="${post.date}"></h3>
                <span th:text="${post.body}"></span>
            </div>
        </div>
    </div>
</div>


<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="footer-links">
                    <ul class="footer-group">
                        <li>
                            <a href="http://steamcommunity.com/">
                                <img src="img/steam.png"/>
                            </a>
                        </li>
                    </ul>
                    <p>Copyright © 2016 <a href="#">I
                        TIS The AA-Team</a><br/><a href="#">Licence</a> | Crafted with <span
                            class="fa fa-heart pulse2"></span> by <a href="https://vk.com/id147280017"></a>.</p>
                </div>
            </div>

        </div>
    </div>
</footer>

<script th:src="@{js/vendor/jquery-1.11.2.min.js}"></script>
<script th:src="@{bower_components/retina.js/dist/retina.js}"></script>
<script th:src="@{js/jquery.fancybox.pack.js}"></script>
<script th:src="@{js/vendor/bootstrap.min.js}"></script>
<script th:src="@{js/scripts.js}"></script>
<script th:src="@{js/jquery.flexslider-min.js}"></script>
<script th:src="@{bower_components/classie/classie.js}"></script>
<script th:src="@{bower_components/jquery-waypoints/lib/jquery.waypoints.min.js}"></script>

</body>
</html>