<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">

<head>

    <!--title-->
    <title th:text="${pageTitle}">Template title</title>

    <!--meta-->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--links-->
    <link rel="apple-touch-icon" href="/apple-touch-icon.png"/>
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32"/>
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16"/>
    <link rel="stylesheet" href="/css/normalize.min.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/jquery.fancybox.css"/>
    <link rel="stylesheet" href="/css/flexslider.css"/>
    <link rel="stylesheet" href="/css/styles.css"/>
    <link rel="stylesheet" href="/css/queries.css"/>
    <link rel="stylesheet" href="/css/etline-font.css"/>
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"/>

    <!--scripts-->
    <script src="/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

</head>

<body id="top">

<section class="hero">

    <section class="navigation">
        <header th:include="fragments/header :: header">
        </header>
    </section>

    <div class="container">

        <div style="padding-top: 15%; width: 30%; float: left" class="group_profile_container">

            <div class="group_profile__inner">

                <h2 style="color: #fff" th:text="${group.name}"></h2>

                <hr/>

                <div class="group_profile" style="text-align: center">

                    <img th:width="220" th:height="220" src="/img/piq_278240_400x400.png"/>

                    <br/>

                    <p style="color: #fff; font-size: 16pt; padding-top: 5px;"
                       th:inline="text">
                        [[${group.game}]]<br/>
                        <span style="font-size: 12pt">[[${group.description}]]</span>
                    </p>

                    <div th:if="${isAdmin == false}">

                        <div th:if="${subscribed == false}">

                            <a href="#" th:href="@{/group/{groupId}/subscribe(groupId=${group.id})}"
                               class="btn btn-danger"><span class="glyphicon glyphicon-share-alt"></span>
                                Subscribe</a>
                        </div>

                        <div th:if="${subscribed == true}">
                            <a href="#" th:href="@{/group/{groupId}/unsubscribe(groupId=${group.id})}"
                               class="btn btn-danger"><span class="glyphicon glyphicon-exit"></span>
                                Unsubscribe</a>
                        </div>

                    </div>

                </div>

                <div class="group_profile_frends">

                    <hr/>
                    <h3 th:inline="text">Members : [[${group.getParticipantList().size()}]]</h3>
                    <hr/>

                    <div th:each="subscriber: ${subscribers}" class="rouncorner">
                        <a style="font-size: 15pt; font-family: Verdana,sans-serif; color: #fff;" th:href="@{/profile/{userId}(userId=${subscriber.id})}"
                           th:text="${subscriber.fullName}"></a>
                    </div>

                </div>

            </div>

        </div>

        <div class="group_profile_container2" style="width: 63%; margin-left:35%; margin-top: 20%;">

            <!--<div class="search_form">-->
            <!--<div th:if="${isAdmin == true}">-->
            <!--<form th:action="@{/group/{groupId}/new_post(groupId=${group.id})}" th:object="${post}"-->
            <!--method="post">-->
            <!--<input type="text" th:field="*{body}" placeholder="Type post and press enter..."/>-->
            <!--</form>-->
            <!--</div>-->
            <!--</div>-->

            <!--TODO-->
            <div class="post_form">


            </div>


            <div style="padding-bottom: 50px; padding-top: 7px" th:each="post : ${posts}" class="group_profile_posts">
                <hr/>
                <div class="group_profile_posts_e">
                    <h3 style="color: #fff;" th:inline="text">
                        [[${#dates.dayOfWeekNameShort(post.date)}]], [[${#dates.month(post.date)}]]
                        [[${#dates.monthNameShort(post.date)}]], at [[${#dates.format(post.date, 'hh:mm:ss')}]]
                    </h3>
                    <span style="color: #fff; font-size: 12pt; font-family: Verdana,serif;" th:text="${post.body}">
                    </span>

                </div>
            </div>


        </div>
    </div>


</section>

<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="footer-links">
                    <ul class="footer-group">
                        <li>
                            <a href="http://steamcommunity.com/">
                                <img src="/img/steam.png"/>
                            </a>
                        </li>
                    </ul>
                    <p>Copyright © 2016 <a href="#">I
                        TIS The AA-Team</a><br/><a href="#">Licence</a> | Crafted with <span
                            class="fa fa-heart pulse2"></span> by <a href="https://vk.com/id147280017"></a>.</p>
                </div>
            </div>

        </div>
    </div>
</footer>

<script src="/js/vendor/jquery-1.11.2.min.js"></script>
<script src="/bower_components/retina.js/dist/retina.js"></script>
<script src="/js/jquery.fancybox.pack.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<script src="/js/scripts.js"></script>
<script src="/js/jquery.flexslider-min.js"></script>
<script src="/bower_components/classie/classie.js"></script>
<script src="/bower_components/jquery-waypoints/lib/jquery.waypoints.min.js"></script>

</body>
</html>