<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">

<head th:include="fragments/head :: head (pageTitle='Home')">
    <!--HEAD (links, meta, etc.)-->
</head>

<body>

<div>

    <h1 th:text="${group.name}"></h1>

    <div th:if="${isAdmin eq true}">
        <form th:action="@{/group/{groupId}/new_post(groupId=${group.id})}" th:object="${post}" method="post">
            <table>
                <tr>
                    <td>Title:</td>
                    <td><input type="text" th:field="*{title}"/></td>
                    <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</td>
                </tr>

                <tr>
                    <td>Information:</td>
                    <td><input type="text" th:field="*{body}"/></td>
                    <td th:if="${#fields.hasErrors('body')}" th:errors="*{body}">Description Error</td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Post</button>
                    </td>
                </tr>
            </table>
            <input type="hidden" name="id" th:value="${id}"/>
        </form>
    </div>

    <div th:if="${isAdmin eq false}">
        <!--This user has been subscribed already?-->
        <!--No-->
        <div th:if="${subscribed eq false}">
            <a th:href="@{/group/{groupId}/subscribe(groupId=${group.id})}">
                <button type="submit">Subscribe</button>
            </a>
        </div>
        <!--Yes-->
        <div th:if="${subscribed eq true}">
            <a th:href="@{/group/{groupId}/unsubscribe(groupId=${group.id})}">
                <button type="submit">Unsubscribe</button>
            </a>
        </div>
    </div>

    <h2>Posts:</h2>
    <div class="container">
        <div tiles:fragment="contetnt">
            <table border="1">
                <thead>
                <tr>
                    <th>Title:</th>
                    <th>Body:</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="post : ${posts}">
                    <td th:text="${post.title}"></td>
                    <td th:text="${post.body}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div style="float: right;" tiles:fragment="content">
        <table class="table table-border">
            <thead>
            <tr>
                <th>Participants:</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="subscriber : ${subscribers}">
                <td th:text="${subscriber.fullName}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>


<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>

<footer th:include="fragments/footer :: footer">
    <!--footer-->
</footer>

<script th:src="@{js/vendor/jquery-1.11.2.min.js}"></script>
<script th:src="@{bower_components/retina.js/dist/retina.js}"></script>
<script th:src="@{js/jquery.fancybox.pack.js}"></script>
<script th:src="@{js/vendor/bootstrap.min.js}"></script>
<script th:src="@{js/scripts.js}"></script>
<script th:src="@{js/jquery.flexslider-min.js}"></script>
<script th:src="@{bower_components/classie/classie.js}"></script>
<script th:src="@{bower_components/jquery-waypoints/lib/jquery.waypoints.min.js}"></script>

</body>
</html>