<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head (pageTitle='Home')">
    <!--HEAD (links, meta, etc.)-->
</head>

<body id="top">

  <section class="hero">

    <section class="navigation">
      <header th:include="fragments/header :: header"></header>
    </section>

    <div class="container">
        <div class="grouplistbox">

            <div th:if="${my eq false}">
                <div class="search_form">
                    <form action="#" method="post">
                        <p>Поиск:<select class="search_form_select" name="search" path="search">
                            <option value="game">по игре</option>
                            <option selected="selected" value="name">по названию</option>
                        </select></p>

                        <p>Сортировка:<select class="search_form_select" name="sort">
                            <option value="date">по дате</option>
                            <option value="a">по алфавиту</option>
                            <option selected="selected" value="popular">по популярности</option>
                        </select></p>
                        <input name="criteria" type="text" placeholder="Type message and press enter..." />
                    </form>
                </div>

            </div>

            <h3>Groups</h3>

            <!--Список групп-->
            <div class="grouplistbox_inner">
                <!--Меняйте как хотите, поля свои и т.п.-->
                <div th:each="group : ${groups}">
                    <div class="group_e">
                        <img src="img/ipad-device.png" alt="Фотография 1"/>
                        <p><a th:href="@{/group/{groupId}(groupId=${group.id})}" th:text="${group.name}"></a></p>
                        <span th:text="${group.game}"></span>
                        <span th:text="${group.getParticipantList().size()}"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>

<footer th:include="fragments/footer :: footer">
    <!--footer-->
</footer>

<script th:src="@{js/vendor/jquery-1.11.2.min.js}"></script>
<script th:src="@{bower_components/retina.js/dist/retina.js}"></script>
<script th:src="@{js/jquery.fancybox.pack.js}"></script>
<script th:src="@{js/vendor/bootstrap.min.js}"></script>
<script th:src="@{js/scripts.js}"></script>
<script th:src="@{js/jquery.flexslider-min.js}"></script>
<script th:src="@{bower_components/classie/classie.js}"></script>
<script th:src="@{bower_components/jquery-waypoints/lib/jquery.waypoints.min.js}"></script>


</body>
</html>