<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head (pageTitle='Index')">
    <!--HEAD (links, meta, etc.)-->
</head>

<body id="top">

<section class="hero">

    <section class="navigation">
        <header th:include="fragments/header :: header" >

        </header>
    </section>

    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="hero-content text-center">

                    <div th:if="${param.logout}">
                        <h3 class="intro">Yo've been successfully logout</h3>
                    </div>

                    <div th:if="${msg}">
                        <h3 th:text="${msg}" class="intro">Failed to login</h3>
                    </div>

                    <h1>You are welcome!</h1>
                    <p class="intro ">Find friends to play, interact with each other, play games. <br/>
                        Log in via Steam and do whatever you want!</p>
                </div>

            </div>
        </div>
    </div>

</section>

<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>

<footer th:include="fragments/footer :: footer">
    <!--footer-->
</footer>

<script th:src="@{js/vendor/jquery-1.11.2.min.js}"></script>
<script th:src="@{bower_components/retina.js/dist/retina.js}"></script>
<script th:src="@{js/jquery.fancybox.pack.js}"></script>
<script th:src="@{js/vendor/bootstrap.min.js}"></script>
<script th:src="@{js/scripts.js}"></script>
<script th:src="@{js/jquery.flexslider-min.js}"></script>
<script th:src="@{bower_components/classie/classie.js}"></script>
<script th:src="@{bower_components/jquery-waypoints/lib/jquery.waypoints.min.js}"></script>

</body>
</html>