<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org">
<head>
    <title tiles:fragment="title">Continue : Login</title>
</head>
<body>
<div tiles:fragment="content">

    <h1>User Profile data</h1>

    <form action="#" th:action="@{/login/profile/perform}" th:object="${user}" method="post">
        <table>
            <tr>
                <td>Name:</td>
                <td><input type="text" th:field="*{fullName}"/></td>
                <td th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name Error</td>
            </tr>

            <tr>
                <td>Telephone:</td>
                <td><input type="text" th:field="*{telephone}"/></td>
                <td th:if="${#fields.hasErrors('telephone')}" th:errors="*{telephone}">Telephone Error</td>
            </tr>

            <tr>
                <td>About me:</td>
                <td>
                    <textarea th:charset="UTF-8" th:field="*{aboutMe}">
                        About me ...
                    </textarea>
                </td>
                <td th:if="${#fields.hasErrors('aboutMe')}" th:errors="*{aboutMe}">About me error</td>
            </tr>
            <tr>
                <td>
                    <button type="submit">Submit</button>
                </td>
            </tr>
        </table>
        <input type="hidden" name="id" th:value="${id}"/>
    </form>

</div>
</body>
</html>