<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head (pageTitle='Home')">
    <!--HEAD (links, meta, etc.)-->
</head>

<body id="top">

<section class="hero">

    <section class="navigation">
        <header th:include="fragments/header :: header"></header>
    </section>

    <div class="container">

        <div class="grouplistbox">
            <div class="search_form">

                <!--Search form-->
                <form action="">
                    <p>Поиск:<select class="search_form_select" name="hero[]">
                        <option value="CSGO">по игре</option>
                        <option selected value="Dota2 ">по названию</option>

                    </select></p>

                    <p>Сортировка:<select class="search_form_select" name="hero[]">
                        <option value="CSGO">по дате</option>
                        <option value="Dota2 ">по алфавиту</option>
                        <option selected value="Dota2 ">по популярности</option>
                    </select></p>

                    <input type="text" placeholder="Type message and press enter...">

                </form>
            </div>

            <h3>My Groups</h3>

            <div class="grouplistbox_inner">

                <!--TODO Добавить какие-то поля, чтобы можно было понять, что ты управляешь этой группой-->
                <div class="group_e">

                    <!--Здесь можно сделать форму, а можно с помощью js обработать запрос-->
                    <div class="group_e_button">
                        <button class="button button_subscribe">unsubscribe</button>
                    </div>

                    <img src="img/avatar.jpg" alt="Фотография 1">

                    <a href="#features">Айнур Зиннатов нихуя не сделал номрально</a><br>

                    <!--Хз что это, типо title группы наверное, можно убрать-->
                    <span> Counter-Strike Global Offensive</span>
                    <br>
                    <!--можно нахуй убрать-->
                    <span>13 participants</span>

                </div>

            </div>
        </div>
    </div>

</section>


<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>

<footer th:include="fragments/footer :: footer">
    <!--footer-->
</footer>

<script th:src="@{js/vendor/jquery-1.11.2.min.js}"></script>
<script th:src="@{bower_components/retina.js/dist/retina.js}"></script>
<script th:src="@{js/jquery.fancybox.pack.js}"></script>
<script th:src="@{js/vendor/bootstrap.min.js}"></script>
<script th:src="@{js/scripts.js}"></script>
<script th:src="@{js/jquery.flexslider-min.js}"></script>
<script th:src="@{bower_components/classie/classie.js}"></script>
<script th:src="@{bower_components/jquery-waypoints/lib/jquery.waypoints.min.js}"></script>

</body>
</html>