<!doctype html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: head (pageTitle=${#strings.concat('Profile (', user.steamNickname).concat(')')})">
    <!--HEAD (links, meta, etc.)-->
</head>

<body id="top">

<section class="hero">

    <section class="navigation">
        <header th:include="fragments/header :: header"></header>
    </section>

    <div class="container">

        <div class="profile_container">

            <div class="profile__inner">

                <div th:if="${user != null}" class="profile">

                    <img src="/img/130.jpg"/>
                    <div class="profile_name">
                        <h3 th:text="${user.steamNickname}">Profile name</h3>
                    </div>
                    <br/>
                    <span th:inline="text"> Name: [[${user.fullName}]]</span><br/>
                    <span th:inline="text"> About myself: [[${user.aboutMe}]]</span><br/>
                    <span> Steam profile: <a th:text="${user.steamNickname}" th:href="${openId}"></a></span>
                </div>

            </div>
        </div>

        <div class="profile_container2">

            <div class="profile_frends">

                <h3>Friends</h3>

                <hr/>

                <div class="roundcorner">
                    <img src="/img/mani.jpg" alt="Фотография 1"/><br/>
                    <a href="#" th:href="@{/profile/3}">Danya</a>
                </div>

            </div>

            <div class="profile_games">
                <h3 th:inline="text">Random Games ([[${game_count}]])</h3>
                <hr/>
                <div th:if="${games != null and !#sets.isEmpty(games)}" th:each="g : ${games}" class="roundcorner">
                    <a th:text="${g.game}" href="#"></a>
                </div>
            </div>

            <div class="profile_groups">
                <h3 th:inline="text">Groups ([[${group_count}]])</h3>
                <hr/>

                <div th:if="${groups != null and !#sets.isEmpty(groups)}" th:each="gr : ${groups}" class="roundcorner">
                    <a href="#" th:href="@{/group/{id}(id=${gr.id})}" th:text="${gr.name}"></a>
                </div>

            </div>
        </div>

    </div>

</section>

<section class="to-top">
    <div class="container">
        <div class="row">
            <div class="to-top-wrap">
                <a href="#top" class="top"><i class="fa fa-angle-up"></i></a>
            </div>
        </div>
    </div>
</section>

<footer th:include="fragments/footer :: footer">
    <!--footer-->
</footer>

<script th:src="@{js/vendor/jquery-1.11.2.min.js}"></script>
<script th:src="@{bower_components/retina.js/dist/retina.js}"></script>
<script th:src="@{js/jquery.fancybox.pack.js}"></script>
<script th:src="@{js/vendor/bootstrap.min.js}"></script>
<script th:src="@{js/scripts.js}"></script>
<script th:src="@{js/jquery.flexslider-min.js}"></script>
<script th:src="@{bower_components/classie/classie.js}"></script>
<script th:src="@{bower_components/jquery-waypoints/lib/jquery.waypoints.min.js}"></script>

</body>
</html>